<mat-toolbar>
  <button (click)="openToDo()" mat-fab style="margin-right:10px">+</button>
<span>To-Do Liste</span>

</mat-toolbar>
  <br>
  <div *ngIf="openToDoList == true">
    <mat-form-field>
        <textarea style = "min-width: 200px;min-height: 150px" matInput [(ngModel)] = "newtodo" matInput placeholder="ToDo"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addToDo()">Add</button>
  </div>

 <mat-list>
    <mat-list-item *ngFor = "let t of todo; let i = index" style="display:block!important">
       {{ i+1 }}. {{ t }}
       <button (click) = "removeToDo(i)">X</button>
    </mat-list-item>
  </mat-list>
<br>
